 # Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration add your actual database URL here
DATABASE_URL=postgresql://postgres:root@localhost:5432/rating-app

# JWT Configuration
JWT_SECRET=iamrohan
JWT_EXPIRES_IN=7d